@page "{restaurantId:int}"
@model pluralsight.Pages.Restaurant.Detail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>@Model.Restaurant.Name</h2>
    <h2>@Model.Restaurant.Location</h2>
    
</div>
<a asp-page="./List" class="btn btn-default">All restaurants</a>
</body>
</html>